html,
body {
  padding: 10px;
}

#root {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

section {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1000");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  margin-bottom: 10px;
}

code {
  margin-bottom: 10px;
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

.flexBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: bold;
}

/* ========== Parent ==========*/
/* flex-direction */
.fd-r {
  display: flex;
  flex-direction: row;
}
.fd-rr {
  display: flex;
  flex-direction: row-reverse;
}
.fd-c {
  display: flex;
  flex-direction: column;
}
.fd-cr {
  display: flex;
  flex-direction: column-reverse;
}

/* flex-wrap */
.fw-nw {
  display: flex;
  flex-wrap: nowrap;
  width: 100px;
}

.fw-w {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.fw-wr {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100px;
}

/* flex-flow */
.ff-rw {
  display: flex;
  flex-flow: row wrap;
  width: 100px;
}

/* justify-content */
.jc-fs {
  display: flex;
  justify-content: flex-start;
}

.jc-fe {
  display: flex;
  justify-content: flex-end;
}

.jc-c {
  display: flex;
  justify-content: center;
}

.jc-sb {
  display: flex;
  justify-content: space-between;
}

.jc-se {
  display: flex;
  justify-content: space-evenly;
}

.jc-sa {
  display: flex;
  justify-content: space-around;
}

/* align-items */
.ai-s {
  display: flex;
  align-items: stretch;
}

/* ========== Child ==========*/
.f-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-item {
  border: solid gray;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  color: gray;
  font-size: 2.5em;
}
